<div class='border p-5'>
  <span class="badge badge-pill float-right mr-5"
    [ngClass]="{'badge-secondary': post.category == 'informatica', 'badge-primary': post.category == 'hogar',  'badge-success': post.category == 'telefonia', 'badge-info': post.category == 'fotografia'}">
    {{post.category}} </span>
  <h2 class='mb-2'> {{post.title | uppercase }} </h2>
  <div class="font-italic"> <span class="font-weight-bold"> {{post.author}} </span> | <span>
      {{post.date | date:'dd/MM/yyyy hh:mm'}} </span>
  </div>
  <div class='mt-4 text-justify'> {{ post.content}}</div>

</div>
